@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #1f242d;
    color: #fff;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    padding: 10px 5% 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color:rgb(202, 11, 202);
}

.burger {
    display: none;
}
.navbar-reponsive{
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #FFFFFF;
    margin: 5px;
    transition: all .5s ease;
    cursor: pointer;
}

#inicio,
#about,
#project,
#contact {
    width: 20%;
}

#home{
    position: relative;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10% 0%;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span{
    color:rgb(202, 11, 202);
}

.home-content p{
    font-size: 16px;
    text-align: justify;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img{
    max-width: 400px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out
    infinite;
    animation-delay: 2s, 3s;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(178, 154, 175, 0.5);
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-img{
    max-width: 500px;
    position: relative; /* Para que a sombra fique atrás da imagem */
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(202, 11, 202);
    color: rgb(202, 11, 202);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover{
    background: #b83af2e9;
    color: #1f242d;
    box-shadow: 0 0 10px #b83af2e9;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background: #b83af2e9;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(202, 11, 202);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1f242d;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}
.btn:hover{
    background: linear-gradient(90deg, rgba(204, 10, 202, 1) 10%, rgba(107, 33, 151, 1) 100%);
    transition: all 0.4s;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

/*menu animado*/
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/*p*/
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-24px);
    }

    100%{
        transform: translateY(0);
    }
}

/*ABOUT*/
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(204, 10, 202, 1) 30%, rgba(107, 33, 151, 1) 100%);  
    width: 100vw;
    height: 100vh;
}

.container-about{
    margin-top: 2%;
    display: flex;   
    align-items: center; 
}

.container-title{
    margin-top: 2%;
    text-align: center; 
}
.title-about{
    border-bottom: 1px solid white;
}
.text-about{
    text-align: justify;
    margin-left: 2%;
    max-width: 600px;
    margin-top: 8px;
}
.bem-vindos{
    display: block;
    margin-top: 2%;
}
.my-foto{
    display: block;
    max-width: 500px;
}

/*btn arrow*/
#btn-top{
    background-color: pink;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: groove;
    cursor: pointer;
    position: fixed;
    animation: zoomIn 5s ease forwards, floatImage 6s ease-in-out infinite;
}
#btn-top:hover{
    box-shadow: 0 0 30px white;
}

/*ESTILIZAR SESSÃO DE PROJETOS*/

#card-projects{
    padding: 32px 40px;
    grid-column: 1 / 3;
    text-align: center;
}
.title-projects{
    border-bottom: 1px solid white;    
}

#project-contents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin-top: 20px;
    border: none;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    background: rgba(133, 0, 181, .1);
    width: 100%;
    overflow: hidden;
    text-decoration: none;

    border-radius: 6px;
    padding-bottom: 12px;
    border: 1px solid;
}
.project picture{
    width: 100%;
    height: 220px;
    overflow: hidden;
}
.project picture img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: all 0.4s;
}
.project:hover picture img{
    transform: scale(1.1);/*aumenta a imagem em 10%*/
}
.project strong{
    font-size: 16px;
    font-weight: 600;
    color: rgb(222, 222, 234);
    text-align: center;
    padding: 0 18px;
    text-align: center;

    transition: all 0.4s;
}
.project:hover strong{
    color: rgb(0, 255, 255);
}
.project div{
    display: flex;
    gap: 4px;
    flex-wrap: wrap; /*garante que os elementos pulem para a segunda linha*/
    border: none;
    padding: 0 8px;
}
.project div span{
    font-size: 12px;
    font-weight: 300;
    background: rgb(222, 222, 234);
    border-radius: 2px;
}

/* Estilos do rodapé */
footer {
    background: linear-gradient(90deg, rgba(204, 10, 202, 1) 30%, rgba(107, 33, 151, 1) 100%);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-content {
    max-width: 300px;
}

.links-uteis{
    font-size: 20px;
    margin-bottom: 5px;
}
.link-rod:hover,
.links-uteis:active{
    color:rgb(0, 255, 255);
    font-family: cursive;
}

.info-contact{
    font-size: 20px;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.link-rod {
    color: #fff;
    text-decoration: none;
}

/*responsividade*/
@media screen and (max-width:768px) {
    
    .header{
        position: fixed;
        margin-top: 0%;
        background-color: purple;
        display: flex;
    }

    .navbar{display: none;}
    .burger {
        display: block;
    }
    .burger.active .line2 {
        opacity: 0
    }
    .burger.active .line1 {
        transform: translateY(8px) rotate(45deg);
    }

    .burger.active .line3 {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-reponsive{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }
    .navbar-reponsive a{
        border-bottom: 4px solid white;
        text-decoration: none;
        font-size: 18px;
        color: #fff;
        margin-top: 15px;
        margin: 45px;
    }

    .links {
        position: fixed;
        top: 60px;
        right: -100%;
        flex-direction: column;
        width: 70%;
        height: 86vh;
        border-radius: 12px;
        background:purple;
        transition: all .5s;
    }

    .links.active {
        right: 0;
    }

    #home{
        position: relative;
        margin-top: 15%;
        width: 80%;
        height: 100vh;
        flex-direction: column;
    }

    .home-content h1{
        font-size: 36px;
        font-weight: 500;
        margin: -3px 0;
        opacity: 0;
        animation: slideRight 1s ease forwards;
        animation-delay: 1s;
    }

    .home-content h3{
        font-size: 18px;
        font-weight: 500;
        opacity: 0;
        animation: slideBottom 1s ease forwards;
        animation-delay: .7s;
    }
    
    .home-content h3:nth-of-type(2){
        animation: slideTop 1s ease forwards;
        animation-delay: .7s;
    }

    #about, .container-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    .my-foto{
        display: block;
        max-width: 250px;
        margin: 0 auto;
    }

    .home-img img{
        max-width: 250px;
        animation: zoomIn 1s ease forwards, 4s ease-in-out
        infinite;
        animation-delay: 2s, 3s;
        border-radius: 20px;
        margin: 0 auto;
    }

    #project-contents{ 
        grid-template-columns: 1fr;
        gap: 22px;
    }

    .text-about{
        margin: 0 auto;
        margin-top: 8px;
        font-size: 14px;
    }
}

@media(max-width: 1200px){


}

@media(max-width: 1080px){

}

